# Wails 构建产物
/build/bin
/build/windows
/build/darwin
/build/linux

# Go
*.exe
*.log

# 前端依赖
/frontend/node_modules
/frontend/dist

# IDE/系统文件
.idea
.vscode
*.DS_Store

# 忽略后台的运行时文件和编译产物
/backend/stats.json
/backend/fya_backend.log
/backend/fya_server
/backend/fya_server.exe